.summary-container {
  display: flex;
  gap: 1rem;

  img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.2rem;
  }
}

.summary-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-title {
  h1 {
    font-size: 2rem;
    padding-bottom: 0.4rem;
  }

  h2 {
    font-size: 1.4rem;
    color: #b0b0b0;
  }
}

.summary-links {
  display: flex;
  gap: 0.5rem;

  a {
    color: #772f37;
  }
}
